<%- include('../partials/head')%>


  <body>

    <%- include('../partials/header')%>
      <main class="main-body">

        <main class="main-register">
          <form action="/users" method="post" class="form" enctype="multipart/form-data">
            <div class="form-register">
              <h4>Registro</h4>
              <div class="label-input">
                <label for="firstName">Nombre</label>
                <input class="controls" type="text" name="firstName" id="firstName"
                  placeholder="Ingrese su Nombre" required="true">
              </div>
              <div class="label-input">
                <label for="lastName">Apellido</label>
                <input class="controls" type="text" name="lastName" id="lastName"
                  placeholder="Ingrese su Apellido" required="true">
              </div>
              <div class="label-input">
                <label for="birthDate">Fecha de Nacimiento</label>
                <input class="controls" type="date" name="birthDate" id="birthDate" required="true">
              </div>
              <div class="label-input">
                <label for="email">Email</label>
                <input class="controls" type="email" name="email" id="email" placeholder="Ingrese su Email" required="true">
              </div>
              <div class="label-input">
                <label for="phone">Celular</label>
                <input class="controls" type="text" name="phone" id="phone" placeholder="Ingrese su Celular" required="true">
              </div>
              <div class="label-input">
                <label for="adress">Domicilio</label>
                <input class="controls" type="text" name="adress" id="adress" placeholder="Ingrese su Domicilio" required="true">
              </div>
              <div class="label-input">
                <label for="img">Subir imagen:</label>
                <input type="file" id="img" name="img" accept="image/*" required="true">
              </div>
              <div class="label-input">
                <label for="keywords">Palabras claves</label>
                <textarea class="controls" type="a" name="keywords" id="keywords"
                  placeholder="Ingrese palabras clave para el producto separa con ';'" rows="4" cols="50" required="true"></textarea>
              </div>
              <div class="label-input">
                <label for="password"> Contraseña </label>
                <input class="controls" type="password" name="password" id="password"
                  placeholder="Ingrese su Contraseña" required="true">
              </div>
              <div class="label-input">
                <label for="confirmPassword"> Confirmar Contraseña </label>
                <input class="controls" type="password" name="confirmPassword" id="confirmPassword"
                  placeholder="Confirme su Contraseña" required="true">
              </div>
              <p><input type="checkbox" name="rememberMe" value="Recordar usuario">
                Estoy de acuerdo con <a href="#">Terminos y Condiciones</a></p>
              <button type="submit" class="button">Enviar</button>
              <p><a href="#">¿Ya tengo Cuenta?</a></p>
            </div>
          </form>
        </main>
      </main>
  </body>
  <%- include('../partials/footer')%>