<%- include('../partials/head')%>

<body>
    <%- include('../partials/header')%>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <form action="/productRegistration" method="post" class="form">
        <div class="form-register">
          <h4>Manejo de Productos</h4>
        <label  for="Action">Accion a realizar</label>
        <select name="Action" id="Action">
            <option value="">Por favor elija una opcion</option>
            <option value="Agregar">Agregar</option>
            <option value="Editar">Editar</option>
        </select>
        <label for="img">Subir imagen:</label>
        <input type="file" id="img" name="img" accept="image/*">
        <label for="price">Precio</label>
      <input class="controls" type="number" name="price" id="price" placeholder="Ingrese el Precio">
        <label for="name">Nombre del producto</label>
        <input class="controls" type="text" name="name" id="name" placeholder="Ingrese el nombre del producto">
      <label for="description">Descripcion del producto</label>
        <textarea class="controls" type="a" name="description" id="description" placeholder="Ingrese la descripcion del producto" rows="4" cols="50"></textarea>
        <button type="submit" class="button">Enviar</button>
        <p><a href="#">¿Ya tengo Cuenta?</a></p>
        </div>
    </form>
</body>
<%- include('../partials/footer')%>