/*
    general settings 
*/

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
}

.search_bar{
    width: 35%;
}

header{
    background-color:rgb(173, 245, 216);
    height: 20vh;
}

footer{
    text-align: center;
}

.footer-icon{
    font-size: 30px;
    color: #1259c3;
    text-align: center;
}

.burger-menu{
    text-align: center;
    background-color: #1259c3;
    color: white;
    display: block;
    font-size: 30px;
    margin: 0 45% 0 45%;
}

.buy-text{
    text-align: center;
}

.link-list-header{
    list-style-type: none;  
}
.link-list-header a{
    color: black;
    text-decoration: none;
}
.header-icon{
    margin-left: 5%;
}

/*
    text sizes
*/
.copyleft-text{
    font-size: x-small;
}

.text-body{
    font-size: 12px;
}

.headlines{
    font-size: 24px;
}

.prices{
    font-size: 18px;
}

.discount,
.description{
    font-size: 16px;
    font-weight: normal;
}
section.banner img{
    width: 100%;
}

main{
    width: 90%;
    margin: 0 auto;
}

main section article{
    background-color: #fff;    
    margin: 10px 0px;
}

main section article img{
    width: 100%;
}

main section article i,
.discount{
    color: #39b54a;
}

main section article i{
    display: block; 
    font-size: 16px; 
    padding: 5px; 
    width: 30px; 
    height: 30px; 
    border: 1px solid #39b54a; 
    background-color: #FFF; 
    border-radius: 50%; 
    position: absolute;
    right: 0px;
    top: -30px;
}

.art_principal{
    border-top: solid 1px #ebebeb;
    padding: 15px;
    background: white;

}

article div.articulos{
    width: 100%;
    border-top: 1px solid #ebebeb;
    padding: 15px;
}

.navbar ul{
    display: none;
}

.buy_icon{
    position: relative;
}
@media (min-width: 361px){
    /*exclusivo mobile*/
    main section article .description{
        display: block;
    }

    main section article{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    
    .header-icon{
        display: flex;
        flex-wrap: wrap;
    }
    .header-icon .logo{
        width: calc(50% - 15px);
    }
    .header-icon .logo img{
        width: calc(100% - 15px)!important;
    }
    .header-icon .search_bardiv{
        width: calc(50% - 15px);
    }
    .header-icon .search_bardiv .search_bar{
        width: calc(80% - 15px);
    }
}

@media only screen and (min-width: 600px) {
    /* exclusivo tablets: */

    
    .burger-menu{
        display: none;
    }
    
    
    .header-icon{
        display: flex;
        flex-wrap: wrap;
    }
    .header-icon .logo{
        width: calc(33% - 15px);
    }
    .header-icon .logo img{
        width: calc(100% - 15px)!important;
    }
    .header-icon .search_bardiv{
        width: calc(33% - 15px);
    }
    .header-icon .search_bardiv .search_bar{
        width: calc(80% - 15px);
    }
    .buy-text{
        width: calc(33% - 15px);
    }
    .navbar{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .navbar ul {
        display: flex !important;
    }
    .navbar ul li{
        display: flex;
        width: 80%;;
    }
    .link-list-header{
        width: 45%;
    }
    .login_list_header{
        width: 45%;
    }
    .productos{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .productos article {
        flex: 0 1 48%;
    }
    .art_principal{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .art_principal .buy_icon{
        flex: 0 1 98%;
    }
    .art_principal .prices .discount{
        flex: 0 1 48%;
    }
    .art_principal .description{
        flex: 0 1 98%;
    }
  }
  
  @media only screen and (min-width: 768px) {
    /* exclusivo desktop: */

    .navbar ul {
        display: inline;
    }
    .burger-menu{
        display: none;
    }
    .productos article {
        flex: 0 1 24%;
    }
  }


.registerForm{
    align-items: center;
}

/*Register*/

.form-register {
	position: relative;
	width: 400px;
	background: #98d5b3;
	padding: 30px;
	margin: auto;
	margin-top: 100px;
	border-radius: 4px;
	font-family: 'roboto';
	color: black;
	box-shadow: 7px 13px 37px;
  }
  
  .form-register h4 {
	font-size: 22px;
	margin-bottom: 20px;
  }
  
  .controls {
	width: 100%;
	background: #98d5b3;
	padding: 10px;
	border-radius: 4px;
	margin-bottom: 16px;
	border: 1px solid #1fc546;
	font-family: 'roboto';
	font-size: 15px;
	color: black;
  }
  

  .form-register p {
	height: 20px;
	text-align: center;
	font-size: 13px;
	line-height: 20px;
  }
  
  .form-register a {
	color: black;
	text-decoration: none;
  }
  
  .form-register a:hover {
	color: white;
	text-decoration: underline;
  }
  
  .form-register .buttons {
	width: 80%;
	background: #1fc546;
	border: none;
	padding: 12px;
	color: black;
	margin: 30px 30px;
	font-size: 13px;
	text-align: center;
  }

/*Home*/

#contentItemCarrusel{
    width: 100%;
    height: 80vh;
    overflow: hidden;
}

.carrusel {
    width: 100%;
    height: 100%;
    position: relative;
}

.item_carrusel{
    width: 100%;
    height: 100%;
}
.foto_carrusel{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.flechas{
    font-size: 5vh;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2%;
    
}

footer{
    background-color: rgb(39, 39, 39);
    color: white;

}

#footer_total{
    display: flex;
    flex-direction: column;
    justify-content: center;

}
#footer_izquierda{
    padding: 5%;
    padding-bottom: 2.5%;
    width: 100%;
}
#footer_derecha{
    padding: 5%;
    padding-bottom: 2.5%;
    width: 100%;
}
/*Home*/

.tipografiaTitle{
    font-style: italic;
}