@import url("styles.css");


.updateRole{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.botton-margin{
  margin: 0.5em 0;

}

.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.form a{
    color: rgb(46, 43, 231);
    text-decoration: none;
}

.container img{
  width: 100%;
}

.container h2{
  text-align: center;
  margin: 0.5em 0;
}

.hight-50{
  height: 50%;
}

@media only screen and (min-width: 768px) {

.address-block-h{
  display: flex !important;
  width: 55%;
 
  flex-direction: column ;
}

.address-block-v{
  display: flex !important;
  width: 65%;
 
  flex-direction: row ;
}

.address-title{
  width: 100%;
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  flex-direction: row ;
}

.right-margin{
  margin-right: 1em;
}


.vertical_align{
vertical-align: middle;
}

 td{
  padding: 0.05rem 0.05rem !important;
}




}