<%- include('../partials/head')%>

<body>
    <%- include('../partials/header')%>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    
    <div class="registrationTitle">
        <h1 class="succesRegistration">Producto agregado con exito</h1>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</body>
<%- include('../partials/footer')%>