<%- include('../partials/head',{cssFile:'userStyles.css'})%>


  <body>
    <%- include('../partials/header')%>
      <main class="main-body">
        <form action="/products" method="post" class="form" enctype="multipart/form-data">

          <div class="form-register">
            <h4>Manejo de Productos</h4>
            <div class="form-group botton-margin">
              <label for="name"> <b> Nombre del producto </b> </label>
              <input class="form-control" type="text" name="name" id="name" placeholder="Ingrese el nombre del producto" required="true">
              <span></span>
            </div>
         
            <div class="form-group botton-margin">
              <label for="price"> <b>  Precio </b> </label>
              <input class="form-control" type="number" name="price" id="price" placeholder="Ingrese el Precio" required="true">
            </div>
         
            <div class="form-group botton-margin">
              <label for="description"> <b> Descripcion del producto </b> </label>
              <textarea class="form-control" type="a" name="description" id="description"
              placeholder="Ingrese la descripcion del producto" rows="4" cols="50" required="true"></textarea>
              <span></span>
            </div>
            <div class="form-group botton-margin">
              <label for="keywords"> <b> Palabras claves </b></label>
              <textarea class="form-control" type="a" name="tags" id="keywords"
                placeholder="Ingrese palabras clave para el producto separa con ';'" rows="4" cols="50" required="true"></textarea>
            </div>
            <div class="form-group botton-margin">
              <label for="img"> <b> Subir imagen: </b></label>
              <input class="form-control"type="file" id="img" name="img" accept="image/*" required="true">
              <span></span>
            </div>
            <button type="submit" class="btn btn-success button-size" id="submitBtn">Enviar</button>
           
          </div>
        </form>
        <script src = "../scripts/productManagementValidation.js"></script>
      </main>
  </body>
  <%- include('../partials/footer')%>
