<%- include('./partials/head')%>
<script defer src="scripts/carrusel.js"></script>

    <body>
      
        <%- include('./partials/header')%>


            <main class="main-body">
     
                <div class="carrousel_wrapper">
                    <div class="big-container">

                        <img src="img/Pizzas.jpeg" alt="img1" class="img">
                        <img src="img/Cocineros.jpg" alt="img2" class="img">
                        <img src="img/TrabajadorComiendo.jpg" alt="img3" class="img">
                        <img src="img/Ensaladas.jpeg" alt="img4" class="img">
                    </div>
                    <ul class="puntos">
                        <li class="punto activo"></li>
                        <li class="punto"></li>
                        <li class="punto"></li>
                        <li class="punto"></li>
                    </ul>


                </div>



                <section class="ult_visita">
                    <div class="productos">
                        <article>
                            <img width="240" height="240" src="img/quienesSomos.png" alt="Quienes Somos">
                            <div class="art_principal">
                                <p class="prices tipografiaTitle centerText">¿Quienes Somos?</p>
                                <br>
                                <p class="description centerText"> Somos un emprendimiento que apunta a toda aquellas
                                    personas que hayan optado por una dieta saludable, equilibrada o restringida, para
                                    su propio consumo o familiar,pero a causa de su rutina no tiene tiempo para la
                                    elaboración de dichos alimentos. Buscamos solucionar tus problemas de tiempo de la
                                    manera mas rica posible.</p>
                            </div>
                        </article>

                        <article>
                            <img width="240" height="240" src="img/enviosCiudad.jpg" alt="Envios">
                            <div class="art_principal">
                                <p class="prices tipografiaTitle centerText">¿Cual es nuestro Alcance?</p>
                                <br>
                                <p class="description centerText"> Nuestros envios son hechos unicamente por Capital
                                    Federal. ¿Te encontras fuera de alcance? De igual manera, ¡Siempre podes pasar a
                                    buscar tu vianda!</p>
                            </div>
                        </article>

                        <article>
                            <img width="240" height="240" src="img/comoCocinar.jpg" alt="Cocinar">
                            <div class="art_principal">
                                <p class="prices tipografiaTitle centerText">¿Le falta algo a mi comida?</p>
                                <br>
                                <p class="description centerText">En cuanto llega tu vianda, sugerimos meterla en el
                                    microondas 1 minuto aproximadamente y ya estas listo para disfrutar de tu comida
                                    favorita ¿Debo de sacar la comida del envase? No te preocupes, el envase viene con
                                    una bandeja que esta diseñado para microondas.</p>
                            </div>
                        </article>
                    </div>
                </section>
            </main>
            <%- include('./partials/footer')%>