<%- include('./partials/head')%>

    <body>
        <%- include('./partials/header')%>
            <main class="main-body">
                <main class="main-register">
                    <form action="/login" method="get" class="form">
                        <div class="form-login">
                            <h4>Ingreso</h4>
                            <div class="label-input">
                                <label for="email">Usuario</label>
                                <input class="controls" type="email" name="userEmail" id="userEmail"
                                    placeholder="Ingrese su Usuario">
                            </div>
                            <div class="label-input">
                                <label for="password"> Contraseña </label>
                                <input class="controls" type="password" name="userPassword" id="userPassword"
                                    placeholder="Ingrese su Contraseña">
                            </div>
                            <p><a href="#">Olvidaste tu contraseña?</a></p>
                            <br>
                            <p><input type="checkbox" name="rememberMe" value="Recordar usuario">
                                <label>Recordar usuario</label>
                            </p>
                            <button type="submit" class="button">Ingresar</button>
                            <p><a href="#">Aun no tengo una cuenta</a></p>
                            <div class="login-google">
                                <h4>Ingresá con</h4>
                                <div class="logoicon">
                                    <a href="#"><img width="45" height="45" src="img/facebook.png"
                                            alt="Facebook Logo"></a>
                                    <a href="#"><img width="45" height="45" src="img/buscar.png" alt="Google Logo"></a>
                                </div>
                            </div>
                        </div>
                        
        <nav class="main-navbar">
            <ul class="left-navbar">
                <li> <a href="productDetails">Viandas</a></li>
                <li> <a href="#">Zonas de Envio</a></li>
            </ul>
            <ul class="right-navbar">
                <li> <a href="register">Crea Tu Cuenta</a> <i class="fas fa-user-circle"></i> </li>
                <li> <a href="login">Ingresa</a> <i class="fas fa-sign-in-alt"></i> </li>
                <li> <a href="carrito">Tu carrito</a> <i class="fas fa-shopping-basket"></i> </li>
            </ul>
        </nav>
    </header> -->
    <%- include('./partials/header')%>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
<body>
  <form action="/login" method="get" class="form">
    <div class="form-login">
        <h4>Ingreso</h4>
        <label for="email">Usuario</label>
        <input class="controls" type="email" name="userEmail" id="userEmail" placeholder="Ingrese su Usuario">
        <label for="password"> Contraseña </label>
        <input class="controls" type="password" name="userPassword" id="userPassword" placeholder="Ingrese su Contraseña">
        <p><a href="#">Olvidaste tu contraseña?</a></p>
        <br>
        <p><input type="checkbox" name="rememberMe" value="Recordar usuario">
        <label>Recordar usuario</label></p>
        <button type="submit" class="button">Ingresar</button>
        <p><a href="#">Aun no tengo una cuenta</a></p>
        <div class="login-google">
            <h4>Ingresá con</h4>
            <div class="logoicon">
                <a href="#"><img width="45" height="45" src="img/facebook.png" alt="Facebook Logo"></a>
                <a href="#"><img width="45" height="45" src="img/buscar.png" alt="Google Logo"></a>
            </div>
        </div>
    </div>

                    </form>
                </main>
            </main>
    </body>
    <%- include('./partials/footer')%>