<%- include('./partials/head')%>


    <body>
        <%- include('./partials/header')%>
            <main class="main-body">
                <main class="main-register">
                    <form action="/login" method="get" class="form">
                        <div class="form-login">
                            <h4>Ingreso</h4>
                            <div class="label-input">
                                <label for="email">Usuario</label>
                                <input class="controls" type="email" name="userEmail" id="userEmail"
                                    placeholder="Ingrese su Usuario">
                            </div>
                            <div class="label-input">
                                <label for="password"> Contrase침a </label>
                                <input class="controls" type="password" name="userPassword" id="userPassword"
                                    placeholder="Ingrese su Contrase침a">
                            </div>
                            <p><a href="#">Olvidaste tu contrase침a?</a></p>
                            <br>
                            <p><input type="checkbox" name="rememberMe" value="Recordar usuario">
                                <label>Recordar usuario</label>
                            </p>
                            <button type="submit" class="button">Ingresar</button>
                            <p><a href="#">Aun no tengo una cuenta</a></p>
                            <div class="login-google">
                                <h4>Ingres치 con</h4>
                                <div class="logoicon">
                                    <a href="#"><img width="45" height="45" src="img/facebook.png"
                                            alt="Facebook Logo"></a>
                                    <a href="#"><img width="45" height="45" src="img/buscar.png" alt="Google Logo"></a>
                                </div>
                            </div>
                        </div>

                    </form>
                </main>
            </main>
    </body>
    <%- include('./partials/footer')%>