<html>
  <body>
    <h2>404! Error, puede fallar!!!</h2>
    <h3>dejame llevarte a donde querias ir !!!!</h3>
    <a href="/" class="logo-wrapper"
      ><img src="../../img/homeIconNoBG.png" class="logo" alt="Error"
    /></a>
  </body>
</html>
