<%- include('./partials/head')%>

<body>
    <header class="main-header">
        <div class="main-header-top-bar">
            <div class="top-bar-container">
                <img src="img/homeIconNoBG.png" class="logo" alt="Error">
                <div class="search-bar">
                    <input class="Buscador" type="text" placeholder="Cual Vianda Queres hoy?">
                    <button class="search-buttom"><i class="fas fa-search"></i></button>
                </div>
            </div>
            <h2 class="copy-header">
                <i class="fa-solid fa-bowl-food"></i>
                <span class="text-entry"> Tus viandas favoritas directo a tu casa</span>
            </h2>
        </div>

        <a href="#" class="hamburguer-button">
            <i class="fa-solid fa-bars"></i>
        </a>

        <nav class="main-navbar">
            <ul class="left-navbar">
                <li> <a href="productDetails">Viandas</a></li>
                <li> <a href="#">Zonas de Envio</a></li>
            </ul>
            <ul class="right-navbar">
                <li> <a href="register">Crea Tu Cuenta</a> <i class="fas fa-user-circle"></i> </li>
                <li> <a href="login">Ingresa</a> <i class="fas fa-sign-in-alt"></i> </li>
                <li> <a href="carrito">Tu carrito</a> <i class="fas fa-shopping-basket"></i> </li>
            </ul>
        </nav>
    </header>
    <!-- <section class="banner">
        <img src="img/homeBanner.jpg" alt="Como conoci a tu vianda">
    </section> -->
    <main>
        <section class="ult_visita">
            <h4 class="headlines">Viandas del dia</h4>
            <p>Frescas y exquisitas a la puerta de tu casa</p>
            <div class="productos">
                <article>
                    <img width="240" height="240" src="img/lasagna.jpg" alt="Lasagna">
                    <div class="art_principal">
                        <div class="buy_icon">
                            <i class="fas fa-truck"></i>
                        </div>
                        <p class="prices">$500</p>
                        <p class="discount"> La que no falla</p>
                        <p class="description">En algunos lados le dicen lasagna en otros pasticho nosotros simplemente
                            le decimos deliciosa</p>
                    </div>
                </article>

                <article>
                    <img width="240" height="240" src="img/carne.jpg" alt="plato carnivoro">
                    <div class="art_principal">
                        <div class="buy_icon">
                            <i class="fas fa-truck"></i>
                        </div>
                        <p class="prices">$700</p>
                        <p class="discount">La pesadilla vegetariana</p>
                        <p class="description">Quieres comerte un asado pero te falta el asador el carbon la carne y los
                            amigos, bueno quizas no podamos ayudarte con la mayoria de esas cosas pero con este plato se
                            te van a ir las ganas de carne</p>
                    </div>
                </article>

                <article>
                    <img width="240" height="240" src="img/MilanesaNapo.jpg" alt="Mila Napo">
                    <div class="art_principal">
                        <div class="buy_icon">
                            <i class="fas fa-truck"></i>
                        </div>
                        <p class="prices">$400</p>
                        <p class="discount"> La vieja confiable</p>
                        <p class="description">No sabes que pedir, bueno pidete una mila napo con papas no le fallo
                            nunca a nadie y tampoco te va a fallar a ti</p>
                    </div>
                </article>

                <article>
                    <img width="240" height="240" src="img/pollo.jpg" alt="menu saludable">
                    <div class="art_principal">
                        <div class="buy_icon">
                            <i class="fas fa-truck"></i>
                        </div>
                        <p class="prices">$450</p>
                        <p class="discount">El hoy "me cuido"</p>
                        <p class="description">Te comiste 5 chuletones y dos litros de helado, bueno bajale a la culpa
                            con este rico pollito a la plancha, quizas no bajes de peso pero te sentiras menos culpable
                            y la culpa pesa un monton</p>
                    </div>
                </article>
            </div>
        </section>
    </main>
    <%- include('./partials/footer')%>