<footer>
	<i class="fas fa-credit-card footer-icon"></i>
	<h4>Pagá con tarjeta o en efectivo</h4>
	<p class="text-body">puedes confiar en que para How i met your vianda tus datos son privados y no se lo
		compartiremos a nadie, ademas de la responsabilidad sujeta a nuestra reputacion </p>
	<i class="fas fa-gift footer-icon"></i>
	<h4>Envío gratis desde $ 2.500</h4>
	<p class="text-body">Si te registra a How a i met your vianda y pides un menu para la semana el envio viene de
		nuestra parte</p>
	<i class="fas fa-user-shield footer-icon"></i>
	<h4>Calidad, de principio a fin</h4>
	<p class="text-body">Garantizamos que te vas a enganchar con nuestras recetas y platillos (de hecho nos conviene
		que te enganches)</p>
	<p class="copyleft-text">Copyright © 1999-2020 How i met your vianda S.R.L. todos los derechos e izquierdos bien
		puestos</p>
  </footer>
  </body>
  </html>