<footer>
	<div class="footer-total">
		<div class="footer-credit-card footer-divs">
			<h4>Pagá con tarjeta o en efectivo</h4>
			<i class="fas fa-credit-card footer-icon"></i>
			<p class="text-body">Puedes confiar en que para How i met your vianda tus datos son privados y no se lo compartiremos a nadie, ademas de responsabilidad sujeta a nuestra reputacion.</p>
		</div>
		<div class="footer-gift footer-divs">
			<h4>Envío gratis desde $ 2.500</h4>
			<i class="fas fa-gift footer-icon"></i>
			<p class="text-body">Si te registras a "How a I met your vianda" y pides un menu para la semana, el envio corre por cuenta nuestra.</p>
		</div>
		<div class="footer-shield footer-divs">
			<h4>Calidad, de principio a fin</h4>
			<i class="fas fa-user-shield footer-icon"></i>
			<p class="text-body">Garantizamos que te vas a enganchar con nuestras recetas y platillos (de hecho nos conviene que te enganches).</p>
		</div>
		<div class="footer-contact footer-divs">
			<h4>Contactanos</h4>
			<i class="fa-solid fa-bowl-food footer-icon"></i>
			</br>
			<i class="fa-brands fa-square-facebook footer-icon"></i>
			<span class="text-body">facebook.com/himyviandas</span>
			</br>
			<i class="fa-brands fa-square-instagram footer-icon"></i>
			<span class="text-body">instagram.com/himyviandas</span>
			</br>
			<i class="fa-solid fa-phone footer-icon"></i>
			<span class="text-body">+54 2972 XXXXXXX</span>
		</div>
	</div>
	<p class="copyleft-text">Copyright © 1999-2020 How i met your vianda S.R.L. todos los derechos e izquierdos bien
		puestos</p>

  </footer>
  </body>
  </html>