<header class="main-header">
    <div class="main-header-top-bar">
        <div class="top-bar-container">
            <a href="/" class="logo-wrapper"><img src="../../img/homeIconNoBG.png" class="logo" alt="Error"></a>
            <div class="search-bar">
                <input class="Buscador" type="text" placeholder="Cual Vianda Queres hoy?">
                <button class="search-buttom"><i class="fas fa-search"></i></button>
            </div>
        </div>
        <h2 class="copy-header">
            <i class="fa-solid fa-bowl-food"></i>
            <span class="text-entry"> Tus viandas favoritas directo a tu casa</span>
        </h2>
    </div>

    <a href="#" class="hamburguer-button">
        <i class="fa-solid fa-bars"></i>
    </a>

    <nav class="main-navbar">
        <ul class="left-navbar">
            <li> <a href="/products">Viandas</a></li>
            <li> <a href="/products/create">Manejo de productos</a></li>
            <li> <a href="#">Zonas de Envio</a></li>
        
        </ul>
        <ul class="right-navbar">
            <li> <a href="/register">Crea Tu Cuenta</a> <i class="fas fa-user-circle"></i> </li>
            <li> <a href="/login">Ingresa</a> <i class="fas fa-sign-in-alt"></i> </li>
            <li> <a href="/carrito">Tu carrito</a> <i class="fas fa-shopping-basket"></i> </li>
        </ul>
    </nav>
</header>